@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;500&family=Source+Sans+Pro:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-size: 62.5%;
}

img {
  width: 35%;
  height: auto;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 300;
  text-transform: lowercase;
}

h3 {
  text-transform: capitalize;
  font-weight: 300;
}

.titulos, .titulos_a {
  font-family: "Source Sans Pro", serif;
  font-size: 5rem;
  width: auto;
  font-weight: 700;
  border-left: #ff6666 solid 9px;
  padding-left: 10px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.parrafos {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  height: auto;
  font-weight: 300;
  text-align: justify;
  text-indent: 30px;
}
.parrafos::first-letter {
  padding-bottom: 0;
  padding-left: 7px;
  border-left: 20px solid #ff6666;
}

.ejemplos {
  text-align: center;
  position: relative;
  top: 45%;
}

.texto_ancho {
  font-family: "Source Sans Pro", serif;
  text-transform: capitalize;
  font-size: 5rem;
  line-height: 100%;
  font-weight: 700;
}
@media screen and (max-width: 1270px) {
  .texto_ancho {
    font-size: 7vh;
  }
}

.texto_delgado {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  line-height: 100%;
  font-weight: 200;
  margin-bottom: 1.1%;
  margin-top: 3px;
}
@media screen and (max-width: 1270px) {
  .texto_delgado {
    font-size: 5vh;
  }
}

.titulos, .titulos_a {
  font-size: 6vh;
  margin: 40px;
}

nav {
  width: 80vh;
  background-color: rgba(31, 31, 31, 0.5333333333);
  position: fixed;
  z-index: 10;
  transform: rotate(-90deg);
  top: 43%;
  left: -14%;
}
@media screen and (min-width: 2226px) {
  nav {
    left: -12%;
  }
}

ul {
  width: 100%;
  padding: 3px 0 3px 0;
}

.link_nav {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Alegreya Sans SC", sans-serif;
  text-decoration: none;
  background: linear-gradient(#ff6666, #ff6666);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.link_nav:hover {
  color: white;
  background-size: 100% 2px;
}

#home, #projects, #agency, #maps, #contact {
  color: #ff6666;
}

.centro {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bg-black {
  background-color: #1f1f1f;
}

.titulo_parrafo, .titulo_parrafo_a {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  margin: 20px 0 20px 0;
}
@media screen and (max-width: 1270px) {
  .titulo_parrafo, .titulo_parrafo_a {
    width: 100%;
    height: auto;
  }
}

.titulo_parrafo_a {
  width: 50%;
}

.conoce_mas, .conoce_mas_c {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid white;
  padding: 7px 17px;
  color: white;
}
.conoce_mas:hover, .conoce_mas_c:hover {
  border: 1px solid #ff6666;
  background-color: #ff6666;
  color: white;
}
@media screen and (max-width: 1270px) {
  .conoce_mas, .conoce_mas_c {
    font-size: 3vh;
    padding: 0.7vh 3vh;
    margin: 30px 0 30px 0;
  }
}

.pading_left {
  padding-left: 10%;
}

.pading_right {
  padding-right: 10%;
}

.salmon {
  background-color: #ff6666;
}

.margin_top {
  margin-top: 20px;
}

@keyframes linea_titulos {
  0% {
    background: linear-gradient(#ff6666, #ff6666);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
  }
  25% {
    background: linear-gradient(#ff6666, #ff6666);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 5px;
  }
  75% {
    background: linear-gradient(#ff6666, #ff6666);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 5px;
  }
  100% {
    background: linear-gradient(#ff6666, #ff6666);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0px 5px;
  }
}
h1 {
  animation-name: linea_titulos;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  font-family: "Source Sans Pro", serif;
  font-size: 5rem;
  font-weight: 700;
  padding: 5px;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1270px) {
  h1 {
    font-size: 4rem;
  }
}

#logo {
  width: 250px;
  height: 250px;
}
@media screen and (max-width: 1270px) {
  #logo {
    width: 15rem;
    height: 15rem;
  }
}

.logos_secundarios {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 1270px) {
  .logos_secundarios {
    width: 150px;
    height: 150px;
  }
}

header div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.baner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contenidos, .contenidos_m, .contenidos_s {
  padding: 10% 10% 10% 20%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.contenidos_s {
  flex-direction: row-reverse;
}

.contenidos_m {
  padding: 10% 10% 10% 17%;
}

.cien {
  width: 100%;
  height: 100vh;
}

#banner_home {
  background-image: url(../imagenes/baner.jpg);
}

#banner_maps {
  background-image: url(../imagenes/baner\(mapas\).jpg);
}

#banner_contact {
  background-image: url(../imagenes/baner\(contact\).jpg);
}

#banner_projects {
  background-image: url(../imagenes/baner\(proyectos\).jpg);
}

#banner_agency {
  background-image: url(../imagenes/baner\(agencia\).jpg);
}

.negro {
  background-color: #1f1f1f;
}

#proyecto1 {
  background-image: url(../imagenes/imagen1.jpg);
}

#proyecto2 {
  background-image: url(../imagenes/imagen2.jpg);
}

#proyecto3 {
  background-image: url(../imagenes/imagen3.jpg);
}

#main_home {
  background-image: url(../imagenes/imagen4.jpg);
}

#tous {
  background-image: url(../imagenes/imagen1\(proyectos\).jpg);
}

#swa {
  background-image: url(../imagenes/imagen2\(proyectos\).jpg);
}

#locci {
  background-image: url(../imagenes/imagen4.jpg);
}

#main_agency {
  background-image: url(../imagenes/imagen2\(proyectos\).jpg);
}

#maps1 {
  background-image: url(../imagenes/imagen1\(proyectos\).jpg);
}

#maps2 {
  background-image: url(../imagenes/baner\(proyectos\).jpg);
}

#main_contact {
  background-image: url(../imagenes/imagen4.jpg);
  height: 100vh;
}

.marcas {
  background-color: #1f1f1f;
  padding: 20px 0 20px 6%;
  display: flex;
  flex-direction: row-reverse;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.marcas a {
  width: 160px;
}
.marcas a img {
  width: 100%;
}

#carrusel {
  background-color: #1f1f1f;
}

#carouselExampleControls {
  display: none;
}

.plano1 {
  order: -1;
}

.ciudad {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3rem;
  font-style: normal;
  line-height: 100%;
  font-weight: 500;
  margin-bottom: 1.1%;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.colash, .colash_swa {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

.colash_swa {
  flex-direction: row-reverse;
  width: 45%;
}

.fotos {
  width: 60%;
  position: relative;
}

.fotos2 {
  width: 50%;
}

.logos_m {
  width: 30%;
}

.logos_s {
  width: 30%;
}

.fotos3 {
  width: 100%;
  border-radius: 5px;
}

#wide {
  margin: 40px 0 40px 0;
}

.titulo_mapa {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  min-height: 604.06px;
}
@media screen and (max-width: 1270px) {
  .titulo_mapa {
    width: 100%;
  }
}

.mapa {
  width: 90%;
  height: 400px;
}

.cerrar {
  width: 20px;
  height: 20px;
}

#name {
  grid-area: name;
}

#number {
  grid-area: number;
}

#email {
  grid-area: email;
}

#city {
  grid-area: city;
}

#company {
  grid-area: company;
}

.textos_contact {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  border: white solid 1px;
  padding: 10px 40px 10px 40px;
  text-transform: lowercase;
  width: 100%;
  font-size: 2rem;
}

.textos_contact1 {
  border: none;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 83%;
}

.gird_forms {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 15%);
  grid-template-columns: 40% 40%;
  column-gap: 10%;
  justify-content: center;
  align-content: center;
  justify-items: start;
  align-items: center;
  grid-template-areas: "name company" "email message" "number message" "city message" "send none";
}

#message {
  grid-area: message;
  height: 85%;
  padding: 20px;
}

#company label:hover, #company input:hover, #city:hover {
  cursor: pointer;
}

::placeholder {
  color: white;
}

.conoce_mas_c {
  grid-area: send;
  font-size: 2rem;
  padding: 5px 45px 5px 45px;
}
@media screen and (max-width: 1270px) {
  .conoce_mas_c {
    font-size: 3rem;
    padding: 5px 20px 5px 20px;
    text-transform: lowercase;
    border: white solid 2px;
  }
}

footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
}

#redes_sociales {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer img {
  width: 45px;
  height: 45px;
  margin: 0px 9px 0 9px;
}

#copy {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.iconos_footer2 {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

@media screen and (max-width: 1270px) {
  body {
    width: 100%;
  }
  nav {
    transform: none;
    left: 20px;
    top: 20px;
    width: auto;
    transform: translate(-50%);
    margin: 0%;
    border: #ff6666 2px solid;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  #bot {
    border: #ff6666 solid 2px;
  }
  .link_nav {
    margin: 0 10px 0 10px;
  }
  /*------------------------------Banners(Responsive)-----------------------------*/
  .contenidos, .contenidos_s, .contenidos_m {
    padding: 10% 5%;
    margin: 0%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hide {
    display: none;
  }
  /*------------------------------marcas(Responsive)-----------------------------*/
  .marcas {
    padding-left: 0%;
    justify-content: space-around;
    height: auto;
  }
  .marcas a {
    height: 100%;
    width: 200px;
  }
  #carouselExampleControls {
    display: none;
  }
  /*------------------------------main-home(Responsive)-----------------------------*/
  .main_home {
    margin: 0%;
    width: 100vw;
  }
  .plano1, .plano2 {
    width: 40%;
    height: auto;
    order: 1;
  }
  #quienes_somos {
    order: 0;
  }
  #que_ofrecemos {
    order: 2;
  }
  .titulo_parrafo_a {
    width: 100%;
  }
  /*------------------------------main-projects(Responsive)-----------------------------*/
  .fotos2 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .colash, .colash_swa {
    justify-content: space-around;
  }
  .pading_left, .pading_right {
    padding: 0%;
  }
  /*------------------------------main-contact(Responsive)-----------------------------*/
  .gird_forms {
    height: auto;
    display: grid;
    grid-template-rows: repeat(9, 70px);
    grid-template-columns: 100%;
    align-content: space-between;
    grid-template-areas: "name" "email" "number" "city" "company" "message" "message" "message" "send";
  }
  #main_contact {
    height: auto;
  }
  .textos_contact {
    font-size: 3rem;
    padding: 5px 20px 5px 20px;
    text-transform: lowercase;
    border: white solid 2px;
  }
  .textos_contact1 {
    justify-content: space-evenly;
    width: 95%;
    border: none;
  }
  /*------------------------------footer(Responsive)-----------------------------*/
  footer {
    height: auto;
  }
}
@media screen and (max-width: 580px) {
  .marcas {
    display: none;
  }
  #carouselExampleControls {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
