footer{
    background-color: map-get($map:$colors, $key: 'main');
    @include flex(row, space-around, space-around, center, wrap);
    width: 100%;
    height: 90px;
}
#redes_sociales{
    @include flex(row, space-around, space-between, center, wrap);
}
footer img{
    width: 45px;
    height: 45px;
    margin: 0px 9px 0 9px;
}
#copy{
    @include flex(column, space-around, center, center, wrap);
}
.iconos_footer2{
    width: 30px;
    height: 30px;
    vertical-align:middle;
}