//marcas
.marcas{
    background-color: map-get($map:$colors, $key: 'main');
    padding: 20px 0 20px 6%;
    @include flex(row-reverse, space-around, space-around, center, wrap);
    a{
        width: 160px;
        img{
            width: 100%;
        }
    }
}
#carrusel{
    background-color: map-get($map:$colors, $key: 'main');
}
#carouselExampleControls{
    display: none;
}
//main
.plano1{
    order: -1;
}