.titulo_mapa{
    @include flex(column, space-around, space-between, center, wrap);
    width: 50%;
    @media screen and (max-width: 1270px){
        width: 100%;
    }
}
.mapa{
    width: 90%;
    height: 400px;
}
.cerrar{
    width: 20px;
    height: 20px;
}